body {
  background: linear-gradient(135deg, #6ff3ff, #139ce6);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  margin-top: 0;
  color: #130a0a;
  text-shadow: 2px 2px 4px #271f1f;
}

form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
}

.sButton {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(28, 64, 137, 0.5);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sButton:hover {
  background-color: rgba(28, 64, 137, 0.5);
}

button.options {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(246, 241, 241, 0.5);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button.selected {
  background-color: #0766e1d5;
}

.answer-button {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.correct {
  background-color: #2ecc71;
}

button.incorrect {
  background-color: #e74c3c;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

label span {
  margin-left: 10px;
}

/* Add styles for end-game-form */

#end-game-form {
  margin-top: 50px;
}

#end-game-form h1 {
  margin-top: 0;
  color: #130a0a;
  text-shadow: 2px 2px 4px #271f1f;
}

#end-game-form button {
  margin: 10px;
  width: 120px;
}

.h1EndGame {
  color: #e6134b;
}