body {
  background: linear-gradient(135deg, #dedfdf, #cacbcb);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  margin: auto;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container-category {
  background-color: antiquewhite;
  border: solid 2px rgb(51, 45, 57);
  height: auto;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  margin-bottom: 20px;
  border-radius: 10px;
}

.item {
  background-color: #fa9a90;
  width: 30%;
  margin: 3px;
  border-radius: 30px;
}

.item:hover {
  background-color: rgb(6, 125, 73);
}

h1 {
  margin-top: 0;
  color: #5a0b52;
  text-shadow: 2px 2px 4px #e68d8d;
}

form {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(209, 164, 164, 0.1);
  padding: 30px;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
}

.sButton {
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 20px;
  padding: 10px;
  width: 40%;
  background-color: rgba(28, 64, 137, 0.5);
  border-radius: 1px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.sButton:hover {
  background-color: rgba(28, 64, 137, 0.5);
}

.xButton {
  margin-bottom: 20px;
  padding: 10px;
  width: 50%;
  background-color: rgba(252, 239, 67, 0.5);
  border-radius: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.xButton:hover {
  background-color: rgba(57, 17, 234, 0.5);
}

button.options {
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(246, 241, 241, 0.5);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button.selected {
  background-color: #0766e1d5;
}

.answer-button {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.correct {
  background-color: #2ecc71;
}

button.incorrect {
  background-color: #e74c3c;
}

label {
  display: block;
  margin-bottom: 10px;
  text-align: left;
}

label span {
  margin-left: 10px;
}

/* Add styles for end-game-form */

#end-game-form {
  margin-top: 50px;
}

#end-game-form h1 {
  margin-top: 0;
  color: #130a0a;
  text-shadow: 2px 2px 4px #271f1f;
}

#end-game-form button {
  margin: 10px;
  width: 120px;
}

.h1EndGame {
  color: #e6134b;
}

.form-group {
  display: flex;
  align-items: center;
}
.form-group label {
  margin-right: 10px;
}
.form-group select, .form-group input[type="radio"] {
  margin-left: 10px;
}